beautifulsoup4==4.8.1
blinker==1.4
boto3==1.15.6
botocore==1.18.7
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
colorama==0.3.9
commonmark==0.9.1
configobj==5.0.6
cycler==0.10.0
docutils==0.15.2
dropbox==10.1.1
envoy==0.0.3
feedgenerator==1.9.1
geojson==2.5.0
idna==2.8
importlib-metadata==2.0.0
Jinja2==2.11.2
jmespath==0.9.4
kiwisolver==1.1.0
lxml==4.4.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.18.0
pelican==4.5.0
Pillow==7.1.1
pprintpp==0.4.0
prompt-toolkit==1.0.18
pyasn1==0.4.5
Pygments==2.6.1
pyowm==2.10.0
pyparsing==2.4.6
PySocks==1.7.1
python-dateutil==2.8.0
pytz==2020.1
PyYAML==3.13
requests==2.22.0
requests-futures==1.0.0
rich==1.0.0
rsa==3.4.2
six==1.12.0
smartypants==2.0.1
soupsieve==1.9.5
stem==1.7.1
torrequest==0.1.0
typing-extensions==3.7.4.2
typogrify==2.0.7
Unidecode==1.1.1
urllib3==1.24.1
wcwidth==0.2.5
you-get==0.4.1355
zipp==3.2.0
